[submodule "Overlay/Libraries/imgui"]
	path = Overlay/Libraries/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "LiquidHookEx"]
	path = LiquidHookEx
	url = git@github.com:xsip/LiquidHookEx.git
